<div class="container d-flex flex-column align-items-center justify-content-center p-5">
  <div class="border rounded-4 p-4 shadow-sm bg-white w-100" style="max-width: 500px;">

    <h1 class="display-6 text-danger mb-2">
      {{ getTitle() }} <small class="fs-5 text-muted">[{{ errorCode }}]</small>
    </h1>

    <p class="lead text-secondary mb-5">{{ getDescription() }}</p>

    <!-- Back Button -->
    <div class="mt-4">
      <a routerLink="/" class="btn btn-sm btn-success">
        <i class="bi bi-house-door-fill me-1"></i>
        Go Back to Home
      </a>
    </div>

    <small class="text-muted mt-3 d-block opacity-75">
      <span class="text-danger fw-semibold">{{ errorCode }}</span>
      - You can search this error code online for more technical details or possible solutions.
    </small>
  </div>
</div>