<div class="container py-2">

  <div class="row mb-4 g-2 border rounded-4 shadow-sm p-3 bg-success bg-opacity-10">
    <div class="col-md-7 m-0">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-search text-muted"></i>
        </span>
        <input type="text" [(ngModel)]="searchTerm" class="form-control border-start-0"
          placeholder="Search by title or author" />
      </div>
    </div>

    <div class="col-md-3 m-0">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-sort-alpha-down text-muted"></i>
        </span>
        <select class="form-select border-start-0" [(ngModel)]="sortBy">
          <option value="title">Sort by Title</option>
          <option value="author">Sort by Author</option>
          <option value="date">Sort by Date</option>
          <option value="rating">Sort by Rating</option>
        </select>
      </div>
    </div>

    <div class="col-md-2 text-end m-0">
      <a class="btn btn-dark fw-bold" [routerLink]="'/add-book'">
        <i class="bi bi-plus-lg me-1"></i> Add
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let book of books | bookSearch:searchTerm | sortBookBy:sortBy">
      <app-book-card [book]="book"></app-book-card>
    </div>
    <div class="container my-5" *ngIf="(books | bookSearch:searchTerm | sortBookBy:sortBy)?.length === 0">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <i class="bi bi-box2 display-5 text-muted mb-2"></i>
        <span class="fs-4 text-secondary">No books found</span>
        <small class="text-muted">Try searching with different keywords</small>
      </div>
    </div>
  </div>
</div>