<div class="container my-4">
  <h2 class="fw-bold mb-4 text-success">📰 Top Headlines</h2>

  <div *ngIf="(topHeadlines$ | async) as topHeadlines" class="mb-3 mx-2 text-muted">
    <ng-container *ngIf="topHeadlines.length > 0">
      Showing <strong>{{ topHeadlines.length }}</strong> of <strong>{{ totalResults }}</strong>
      result{{ totalResults > 1 ? 's' : '' }}
    </ng-container>
  </div>

  <!-- Skeleton loading -->
  <ng-template #loading>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4" *ngFor="let _ of [1, 2, 3, 4, 5, 6]">
        <app-skeleton-home-article-card></app-skeleton-home-article-card>
      </div>
    </div>
  </ng-template>

  <!-- Display articles -->
  <div *ngIf="topHeadlines$ | async as topHeadlines; else loading" class="row g-4">
    <ng-container *ngIf="topHeadlines.length > 0; else noResults">
      <div *ngFor="let article of topHeadlines" class="col-md-6 col-lg-4">
        <app-home-article-card [article]="article"></app-home-article-card>
      </div>
    </ng-container>
  </div>

  <ng-template #noResults>
    <div *ngIf="!isLoading" class="text-center text-muted mt-5">
      <p>No headlines found.</p>
    </div>
  </ng-template>
</div>
