<div class="container my-4">
  <h2 class="fw-bold mb-4 text-success">📰 Top Headlines</h2>

  <div *ngIf="topHeadlines.length > 0" class="mb-3 mx-2 text-muted">
    Showing <strong>{{ topHeadlines.length }}</strong> of <strong>{{ totalResults }}</strong> result{{ totalResults > 1
    ? 's' : '' }}
  </div>

  <!-- Skeleton loading -->
  <div *ngIf="isLoading" class="row g-4">
    <div class="col-md-6 col-lg-4" *ngFor="let _ of [1, 2, 3, 4, 5, 6]">
      <app-skeleton-home-article-card></app-skeleton-home-article-card>
    </div>
  </div>

  <!-- Display articles -->
  <div *ngIf="topHeadlines.length > 0" class="row g-4">
    <div *ngFor="let article of topHeadlines" class="col-md-6 col-lg-4">
      <app-home-article-card [article]="article"></app-home-article-card>
    </div>
  </div>

  <div *ngIf="topHeadlines.length === 0 && !isLoading" class="text-center text-muted mt-5">
    <p>No headlines found.</p>
  </div>
</div>